<div class="todo-list">
  <form (ngSubmit)="add(taskNgForm)" #taskNgForm="ngForm" #form>
    <div class="input-group">
      <input
        [(ngModel)]="newTask.date"
        [matDatepicker]="picker"
        name="date"
        required
        readonly
      />
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="input-group">
      <input
        type="text"
        placeholder="Todo"
        [(ngModel)]="newTask.title"
        name="taskTitle"
        required
        #newTaskNgModel="ngModel"
        minlength="4"
      />
      <button class="add-button" [disabled]="!form.checkValidity()">+</button>
    </div>
    <div
      class="validation-error"
      *ngIf="
        newTaskNgModel.invalid &&
        (newTaskNgModel.dirty || newTaskNgModel.touched)
      "
    >
      <div *ngIf="newTaskNgModel.errors?.required">Task title is required</div>
      <div *ngIf="newTaskNgModel.errors?.minlength">
        Task title must at least have 4 characters
      </div>
    </div>
  </form>
  <app-task-table
    [tasks]="(tasks | async) ?? []"
    (onRemove)="remove($event)"
  ></app-task-table>
</div>
