<div class="todo-list">
  <form (ngSubmit)="add(taskNgForm)" #taskNgForm="ngForm" #form>
    <div class="input-group">
      <input
        [(ngModel)]="date"
        [matDatepicker]="picker"
        name="date"
        required
        readonly
      />
      <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="input-group">
      <input
        type="text"
        placeholder="Todo"
        [(ngModel)]="newTaskTitle"
        name="taskTitle"
        required
        #newTask="ngModel"
        minlength="4"
      />
      <button class="add-button" [disabled]="!form.checkValidity()">+</button>
    </div>
    <div
      class="validation-error"
      *ngIf="newTask.invalid && (newTask.dirty || newTask.touched)"
    >
      <div *ngIf="newTask.errors?.required">Task title is required</div>
      <div *ngIf="newTask.errors?.minlength">
        Task title must at least have 4 characters
      </div>
    </div>
  </form>
  <table>
    <tr
      [class.even]="i % 2 == 0"
      [class.odd]="i % 2"
      *ngFor="let task of tasks; index as i"
    >
      <td>
        <p [class.is-done]="task.isDone">
          {{ task.title }}
        </p>
      </td>
      <td>
        <button class="remove-button" (click)="remove(i, task.title)">X</button>
        <button class="done-button" (click)="task.toggleTaskComplete()">
          {{ task.isDone ? "Undo" : "Done" }}
        </button>
      </td>
    </tr>
  </table>
</div>
